# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Node / React Native
node_modules/
.expo/
dist/
build/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.lock
pubspec.lock

# Environment
.env
.env.local
